/* Main Content Styles */
.main-content {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header {
    background: white;
    color: rgba(113, 99, 186, 255);
    padding: 10px 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* Card container */
.card-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.payment-card {
    background: rgba(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.payment-card:hover {
    transform: translateY(-5px);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 12px;
    font-weight: 200;
}

.amount-value {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.light-purple {
    background: rgb(254, 226, 254)
}