/* Sidebar Styles */
.sidebar-container {
    display: flex;
}

.sidebar {
    background: rgba(113, 99, 186, 255);
    color: #fff;
    width: 200px;
    transition: all 0.5s;
}

.sidebar-top_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.sidebar-logo {
    font-size: 30px;
}

.sidebar-bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.sidebar-link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
}

.sidebar-link:hover {
    background: #e0e0e058;
    transition: all 0.5s;
}

.sidebar-active {
    background: lightskyblue;
    color: #000;
}

.sidebar-icon,
.sidebar-link_text {
    font-weight: 600;
    font-size: 20px;
}

.sidebar-main {
    width: 100%;
}