/* Sidebar Styles */
/* .sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    
    height: 100vh;
    background-color: rgba(113, 99, 186, 255);
    overflow-y: auto;
    color: #fff;
    padding: 0 1.7rem;
    
}

.logo {
    height: 80px;
    padding: 16px;
    font-size: 2rem;
    text-align: center;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}

.menu li:hover,
.active {
    background: #e0e0e058;
}

.menu a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}



@media (min-height:501px) {
    .sidebar {
        overflow: hidden;
    }

    .logout {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
} */

/* @media (max-width:931px) {
    .sidebar {
        visibility: hidden;
    }

    .sidebar-menuicon {
        min-height: 100vh;
        width: 5rem;
        background-color: rgba(113, 99, 186, 255);
    }

} */
.sidebar-container {
    display: flex;
}

.sidebar {
    background: rgba(113, 99, 186, 255);
    color: #fff;
    width: 200px;
    transition: all 0.5s;
}

.sidebar-top_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.sidebar-logo {
    font-size: 30px;
}

.sidebar-bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.sidebar-link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
}

.sidebar-link:hover {
    background: #e0e0e058;
    transition: all 0.5s;
}

.sidebar-active {
    background: lightskyblue;
    color: #000;
}

.sidebar-icon,
.sidebar-link_text {
    font-weight: 600;
    font-size: 20px;
}

.sidebar-main {
    width: 100%;
}