/* Sidebar Styles */
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    background-color: rgba(113, 99, 186, 255);
    overflow-y: auto;
    color: #fff;
    padding: 0 1.7rem;
    /* z-index: -1; */
}

.logo {
    height: 80px;
    padding: 16px;
    font-size: 2rem;
    text-align: center;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}

.menu li:hover,
.active {
    background: #e0e0e058;
}

.menu a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}



@media (min-height:501px) {
    .sidebar {
        overflow: hidden;
    }

    .logout {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media (max-width:931px) {
    .sidebar {
        visibility: hidden;
    }

    .sidebar-menuicon {
        width: 5rem;
        background-color: rgba(113, 99, 186, 255);
    }

}