.lp-header {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: url("../../images/background1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 2rem;
  margin-bottom: 4rem;
}

.lp-nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lp-logo {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.lp-logo>span {
  color: rgb(121, 109, 203);
}

.lp-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lp-menu li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.lp-menu a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid black;
  padding-bottom: .4rem;
  transition: 0.5s linear;
}

.lp-menu a:hover:before {
  width: 100%;
}

.lp-menu li>a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}

.mobile {
  display: none;
}

.closeMenu {
  display: none;
}

@media (max-width:727px) {

  .lp-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: -400px;
    right: -400px;
    width: 0;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(0 0 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  .lp-menu.active {
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
  }

  .lp-menu li {
    margin-bottom: 25px;
  }

  .mobile {
    display: block;
  }

  .closeMenu {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

.hero {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left a {
  text-decoration: none;
  background: black;
  color: white;
  padding: 10px 20px;
  letter-spacing: 7px;
  white-space: nowrap;
}

.left p {
  overflow-wrap: break-word;
  color: (103 98 98);
  width: 60%;
  line-height: 1.5rem;
}

.right img {
  width: 100%;
  height: inherit;
}

.left h1 {
  color: black;
}

@media (min-width: 640px) {
  .left h1 {
    font-size: 3rem;
  }

  .left {
    width: 60%;
  }

  .right {
    width: 40%;
    height: 100%;
  }
}

@media (min-width: 1340px) {
  .left h1 {
    font-size: 5rem;
  }

  .left {
    width: 50%;
  }

  .right {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 640px) {
  .left h1 {
    font-size: 2rem;
  }

  .left p {
    width: 90%;
  }

  .left {
    width: 60%;
  }

  .right {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .right {
    width: 0%;
    visibility: hidden;
  }

  .left {
    width: 100%;
  }
}

/* services - section */

#services {
  width: 100%;
  margin: 0 auto;
  padding: 6rem 1.5rem;
}

.services-upper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2.5rem;
}

.services-upper>div {
  width: 100%;
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  .services-upper>div {
    width: 50%;
    margin-bottom: 0;
  }

  .services-upper>p {
    width: 50%;
  }
}

.services-upper h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.border {
  height: 0.3rem;
  width: 7rem;
  border-radius: 2rem;
  background-color: rgb(121, 109, 203);
}

.services-upper p {
  color: #777;
  line-height: 1.75rem;
}

#services>.services-lower {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 786px) {
  .services-lower>div {
    width: 100%;
    padding: 1.5rem;
  }
}

@media (min-width: 786px) {
  .services-lower>div {
    width: 50%;
    padding: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .services-lower>div {
    width: 25%;
    padding: 1.5rem;
  }
}

.services-lower>div>div {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1.5rem;
}

.services-lower img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1.5rem;
}

.services-lower h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  /* Title text color */
  margin-top: 10px;
}

.services-lower h2 {
  font-size: 16px;
  color: #333;
  /* Subtitle text color */
  margin-top: 10px;
}

.service-description {
  font-size: 14px;
  color: #777;
  /* Description text color */
  margin-top: 10px;
}

/* Styles for the testimonial section */

#testimonial {
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 1.5rem;
}

.para {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.para>img {
  width: 3rem;
}

@media (min-width: 1024px) {
  .para {
    width: 75%;
  }
}

@media (min-width: 1280px) {
  .para {
    width: 60%;
  }

  .para>img {
    width: 4rem;
  }
}

.main-para {
  padding-top: 2rem;
  font-size: 1.125rem;
  line-height: 2rem;
  color: rgb(100 116 139);
}

.para>h2 {
  padding-top: 2rem;
  padding-bottom: 0.3rem;
  color: rgb(17 24 39);
  font-size: 1.2rem;
  letter-spacing: 5px;
}

/* Styles for the About Us section */

#about-us {
  margin: 0 auto;
  padding: 6rem 2rem;
}

.about-us-content {
  display: flex;
  flex-wrap: wrap;
}

.about-us-left {
  width: 100%;
  padding-bottom: 3rem;
}

.about-us-right {
  width: 100%;
}

@media (min-width: 1024px) {
  .about-us-left {
    width: 50%;
  }

  .about-us-right {
    padding-left: 3rem;
    width: 50%;
  }
}

.about-us-left>img {
  width: 100%;
  height: 100%;
}

.about-us-right>h2 {
  font-size: 4rem;
  font-family: "roboto";
  padding-bottom: 0.3rem;
}

@media (max-width: 325px) {
  .about-us-right>h2 {
    font-size: 3rem;
  }
}

.about-us-right>h3 {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "roboto";
  color: rgb(61, 69, 80);
  padding-bottom: 1rem;
}

.about-us-right ul {
  padding-left: 1rem;
}

.about-us-right li {
  font-size: 1.125rem;
  line-height: 2rem;
  color: rgb(100 116 139);
  margin-bottom: 1rem;
}

#contact-us {
  margin: 0 auto;
  padding: 6rem 2rem;
}

.contact-us-upper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}

.contact-us-upper h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-us-upper p {
  color: rgb(100 116 139);
  line-height: 1.5rem;
  font-family: "roboto";
  font-size: 1.2rem;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .contact-us-upper h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .contact-us-upper p {
    width: 66.666%;
  }
}

.contact-us-lower {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 786px) {
  .contact-us-lower {
    width: 66.666%;
  }
}

@media (min-width: 1024px) {
  .contact-us-lower {
    width: 50%;
  }
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
}

.contact-name {
  padding: 0.5rem;
  width: 50%;
}

.contact-name>div {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.75rem;
  color: rgb(100 116 139);
  font-family: "roboto";
}

.contact-name>input {
  padding: 0.65rem 1rem;
  width: 100%;
  border: 1px solid #ccc;
  /* Thin border all sides */
  border-radius: 4px;
  background: transparent;
  transition: border-color 0.3s ease;
}

.contact-name>input:focus {
  border-color: #4f46e5;
}

.contact-email {
  padding: 0.5rem;
  width: 50%;
}

.contact-email>div {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.75rem;
  color: rgb(100 116 139);
  font-family: "roboto";
}

.contact-email>input {
  padding: 0.65rem 1rem;
  width: 100%;
  border: 1px solid #ccc;
  /* Thin border all sides */
  border-radius: 4px;
  background: transparent;
  transition: border-color 0.3s ease;
}

.contact-email>input:focus {
  border-color: #4f46e5;
}

.contact-message {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.contact-message>div {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.75rem;
  color: rgb(100 116 139);
  font-family: "roboto";
}

.contact-message>textarea {
  padding: 0.65rem 1rem;
  width: 100%;
  border: 1px solid #ccc;
  /* Thin border all sides */
  border-radius: 4px;
  background: transparent;
  transition: border-color 0.3s ease;
}

.contact-btn {
  padding: 0.5rem;
  width: 100%;
}

.contact-btn>button {
  display: flex;
  margin: 0 auto;
  color: white;
  background-color: rgb(121, 109, 203);
  padding: 0.7rem 3rem;
  border: none;
  border-radius: 4px;
}

.contact-btn>button:hover {
  background-color: rgb(111, 99, 185);
}

.contact-border {
  display: flex;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: none;
  /* Remove the default border */
  background-color: #f0f0f0;
  /* Background color for the element */
  box-shadow: 0 0 0.5px 0.4px #ccc;
}

/* Footer Section Starts here */
#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

@media (min-width: 640px) {
  #footer {
    flex-direction: row;
  }
}

.footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

@media (min-width: 1024px) {
  .footer-title {
    justify-content: start;
  }
}

.footer-title>span {
  color: rgb(121, 109, 203);
}

.footer-para {
  font-size: 1rem;
  color: #777;
  margin-top: 1.2rem;
}

.footer-para>a {
  text-decoration: none;
  font-size: 1rem;
  color: #777;
  margin-top: 1.2rem;
}

@media (min-width: 640px) {
  .footer-para {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px 1px #e2e8f0;
    border-color: #e2e8f0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0;
  }
}

.footer-para>a {
  color: #777;
  margin-left: 0.2rem;
}

.footer-socials {
  display: inline-flex;
  margin-top: 1.4rem;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  .footer-socials {
    margin-top: 0;
    justify-content: start;
    margin-left: auto;
  }
}

.footer-socials>a {
  margin-left: 1.5rem;
}