/* NotFoundPage.css */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f8fa;
}

.not-found-content {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.not-found-content>h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.not-found-content>p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}